<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <title>Document</title>
</head>
<body>
     <div class="bg-slate-700 text-white mt-10 mx-auto h-[600px] flex flex-col w-[500px] shadow-2xl rounded-2xl shadow-slate-950 hover:scale-105 space-y-10 p-10">
         <h1 class="text-center text-4xl mb-10">Form Data</h1>
         <form action="/register" class="space-y-10" method="post">

            <label for="name" class="p-2 text-2xl">Name:</label>
            <input type="text" name="name" class="h-10 w-[70%] inline-block rounded text-black" placeholder="Enter your name">
            <label for="email" class="p-2 text-2xl">Email:</label>
            <input type="email" name="email" class="h-10 w-[70%] rounded text-black" placeholder="Enter your email">
            <label for="email" class="p-2 text-2xl">password:</label>
            <input type="password" name="email" class="h-10 w-[70%] rounded text-black" placeholder="Enter your password">
            <input class="bg-blue-700 px-10 content-center" type="submit">
           
         </form>

     </div>
</body>
</html>